@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:500,600,700');

input,
input[type="text"],
input[type="password"] {
	height: 51px;
	line-height: 51px;
	padding: 0 20px;
	outline: none;
	font-size: 15px;
	color: #808080;
	margin: 0 0 16px 0;
	max-width: 100%;
	width: 100%;
	box-sizing: border-box;
	display: block;
	background-color: #fff;
	border: 1px solid #dbdbdb;
	box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.06);
	font-weight: 500;
	opacity: 1;
	border-radius: 3px;
}


input[type="checkbox"] { display: inline; }

/* Input Placeholder Color */

::-webkit-input-placeholder { /* WebKit browsers */
	color: #888;
	opacity: 1;
}





a, button { outline: none !important; }
a:focus,
a:hover { text-decoration: none; color: #333;}
img { max-width: 100%; }


/* ---------------------------------- */
/* Header
------------------------------------- */
.navbar-default {
    background-color: #fff;
    border-color: #fff;

}





.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

#navigation.style-1 ul a:hover {
    background-color: #FFF;
    color: red;
}
#navigation.style-1 ul a {
    padding: 2px 15px;
}
.navbar>.container-fluid{
	padding: 0;
}
.container-fluid>.navbar-collapse2{
	padding: 0;
}
#logo { display: inline-block; margin-top: 3px; }

#logo img { max-height: 38px; width: auto; transform: translate3d(0,0,0); }
img.footer-logo { max-height: 38px; width: auto; }


.navbar-default .navbar-collapse, .navbar-default .navbar-form{
	border-color: #fff;
}
#header {
	position: relative;
	
	z-index: 999;
	padding: 12px 0 2px 0;
	
	font-size: 16px;
}
.navbar-default{
	margin-bottom: 10px;
}
.parallax-overlay {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 101;
    background-color: #333;
    opacity: 0.4;

}
/* Header Widget */
.header-widget {
	position: relative;
	top: -1px;
	height: 54px;
}

.header-widget .sign-in {
	position: relative;
	color: #333;
	margin-right: 25px;
	top: 10px;
	display: inline-block;
	vertical-align: top;
	margin-left: 20px;
}

.header-widget .sign-in i { padding-right: 4px; font-size: 15px; }
.header-widget .sign-in:hover { color: #f91942; }
.navbar-header2{
	width: 100%;
}
.sl{
	font-family: 'simple-line-icons' !important;
}
.sl-icon-login::before{
	content: "\e066"
}
/* Full Width Header */

.right-side {
	float: right;
	width: 35%;
	display: inline-block;
}

/* mobile fix */
@media (min-width: 1025px) and (max-width: 1239px)  {
	.right-side {
		width: auto;
		display: inline-block;
		margin-top: -126px;
		position: relative;
	}
}

#logo,
#navigation { float: left; }

#logo { margin-right: 50px; }

.header-widget { text-align: right; }

@media (min-width: 340px) and (max-width: 1239px)  {
	#header-container {
		height: 156px;
	}
	.navbar-default {
        margin-bottom: 0;
        border: none;
}
}
/* ---------------------------------- */
/* Sticky Header
------------------------------------- */

/* Sticky header styles */


/*----------------------------------- */
/* Footer
------------------------------------- */
#footer {
	padding: 70px 0 0 0;
	background-color: #fff;
	border-top: 1px solid rgba(0,0,0,0.09);
	font-size: 16px;
}

#footer h4 {
	color: #333;
	font-size: 21px;
	margin-bottom: 25px;
}

.text-widget span { color: #707070; }

#footer a {
	color: #66676b;
}

/*  Links  */
#footer ul.footer-links {
	margin: 0 0 15px 0;
	padding: 0;
	width: 50%;
	box-sizing: border-box;
	display: inline-block;
	float: left;
}

#footer .footer-links li { position: relative; list-style: none; }

#footer .footer-links li a {
	padding: 0 0 9px 16px;
	display: inline-block;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	color: #707070;
	line-height: 21px;
}

#footer .footer-links li a:hover {
	padding-left:22px;
	color: #f91942;
}

#footer .footer-links li:before {
	font-family: "FontAwesome";
	font-size: 20px;
	content: "\f105";
	position: absolute;
	left: 0;
	top: -2px;
	padding: 0 7px 0 0;
	color: #ccc;
}


/* Footer Bottom */
.copyrights {
	color: #707070;
	border-top: 1px solid rgba(0,0,0,0.09);
	margin-top: 60px;
	text-align: center;
	padding: 40px 0;
	display: inline-block;
	width: 100%;
}


/* Dark Styles */



/* ---------------------------------- */
/* Navigation
------------------------------------- */

#navigation {
	position: relative;
	display: block;
}

#navigation ul {
	list-style: none;
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
}

#navigation ul a {
	display: block;
	text-decoration: none;
}

#navigation ul li {
	position: relative;
	float: left;
	margin: 0;
	padding: 0
}

#navigation ul li ul {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 100%;
	left: 0;
	padding: 0;
	z-index: 99999;
}

#navigation ul ul li { float: none; }

#navigation ul ul {
	margin: 10px 0 0 15px;
}

#navigation ul ul:before {
	content: "";
	position: absolute;
	left: 0;
	top: -10px;
	background: rgba(255,255,255,0);
	width: 100%;
	height: 10px;
}

#navigation ul li:hover > ul {
	opacity: 1;
	visibility: visible;
}

/* Indicator Arrow */
#navigation ul li a:after,
#navigation ul ul li a:after {
	font-family: "FontAwesome";
	opacity: 0.5;
}

#navigation ul li a:after { content: '\f107'; padding-left: 7px; }
#navigation ul ul li a:after {
	content: '\f105';
	position: absolute;
	right: 15px;
	top: 7px;
}

#navigation ul li a:only-child:after { content: ''; padding: 0; }
#navigation ul ul li a:only-child:after { content: '';}


/* Dropdown Styles
------------------------------------- */
#navigation ul ul {
	background-color: #fff;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.12);
	border-radius: 4px;
	font-size: 15px;
}

#navigation ul ul li { border-radius: 4px; }
#navigation ul ul li:last-child { border-bottom: none; }

#navigation ul li:hover ul a,
#navigation ul ul a {
	line-height: 27px !important;
	padding: 4px 40px 4px 15px !important;
	line-height: 24px !important;
}

body #navigation ul ul {
	padding: 12px 10px;
	box-sizing: border-box;
}

#navigation ul ul li { width: 180px; }

#navigation ul ul li:hover {
	border-radius: 0;
}

#navigation ul ul li:first-child { border-radius: 4px 4px 0 0; }
#navigation ul ul li:last-child { border-radius: 0 0 4px 4px; }

#navigation ul ul {
	opacity: 0;
	visibility: hidden;
	transition: all 0.25s;
	transform: translate3d(0,15px,0);
}

#navigation ul li:hover > ul {
	opacity: 1;
	visibility: visible;
	transform: translate3d(0,0,0);
}

/* Menu
------------------------------------- */



#navigation.style-1 ul li a { color: #444; cursor: pointer; }
#navigation.style-1 ul li:hover a { color: red; }

#navigation.style-1 ul a {
	line-height: 32px;
	padding: 5px 15px;
}

#navigation.style-1 ul li { margin: 0 5px; }

#navigation.style-1 ul ul li { margin: 0; border-radius: 0; }



/* Indicator Arrow */
#navigation ul ul li a:after {
	opacity: 0.5;
	transition: all 0.25s;
	transform: translateX(-5px);
}

#navigation ul ul li:hover a:after {
	opacity: 1;
	transform: translateX(0);
}



/* Flickering Fix */
#navigation ul li ul { z-index: 100; }
#navigation ul li:hover ul { z-index: 200; }




/* Trigger Styles */
.mmenu-trigger {
    height: 50px;
    width: 50px;
    display: none;
    position: relative;
    margin: 0 0 20px 0;
    background-color: #eee;
    border-radius: 4px;
    cursor: pointer;
}


/* Main Search Input */
.main-search-input {
	margin-top: 50px;
	border-radius: 50px;
	width: 100%;
	background-color: #fff;
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12);
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	padding: 9px;
	max-height: 68px;
}

.main-search-input-item {
	flex: 1;
	border-right: 1px solid #e9e9e9;
	margin-top: 3px;
	position: relative;
	padding-left: 30px;
	padding-right: 30px;
}

.main-search-input  .main-search-input-item:nth-last-child(2) {
	border-right: none;
	padding-left: 15px;
	padding-right: 15px;
}

.main-search-input input,
.main-search-input input:focus {
	font-size: 20px;
	border: none;
	background: #fff;
	margin: 0;
	padding: 0;
	height: 44px;
	line-height: 44px;
    box-shadow: none;
}

.main-search-input button.button {
	font-size: 18px;
	font-weight: 600;
	padding: 0 40px;
	margin-right: 1px;
	height: 50px;
	outline: none;
}

/* Gray Style */

/* Home Improvements */

/* Transparent Header Mobile Styles  */

@media (max-width: 1024px) {
    .main-search-input .main-search-input-item:nth-last-child(2) {
        border-right: none;
        padding-left: 0;
        padding-right: 0;
    }
    
}


/* ---------------------------------- */
/* Boxed (Airbnb) Home Search
------------------------------------- */


/* ---------------------------------- */
/* Google Autocomplete
------------------------------------- */


/* Autocomplete for homepage */

@media (min-width: 992px) {

	.main-search-input-item {
		padding: 0 15px;
	}
}


button.button,
input[type="submit"] {
	background-color: #f91942;
	top: 0;
	padding: 9px 20px;
	color: #fff;
	position: relative;
	font-size: 15px;
	font-weight: 600;
	display: inline-block;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
	margin-right: 6px;
	overflow: hidden;
	border: none;
	border-radius: 50px;
}


input[type="submit"] {
	line-height: 32px;
}

button.button:before {
	width: 100%;
	height: 100%;
	content: "";
	display: block;
	background-color: #fff;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	transition: all 0.2s;
}


button.button:hover:before {
	opacity: 0.1;
}

button.button { line-height: 26px; }


/* ---------------------------------- */
/* Tabs
------------------------------------- */
.tabs-nav {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

.tabs-nav li {
	float: left;
	line-height: 45px;
	padding: 0;
	margin-right: 4px;
	position: relative;
	z-index: 12;
}

.tabs-nav li a {
	-webkit-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

.tabs-nav li a {
	border-bottom: 1px solid transparent;
	color: #333;
	display: inline-block;
	outline: none;
	padding: 7px 15px;
	text-decoration: none;
	font-size: 15px;
	z-index: 11;
	position: relative;
	margin-bottom: -1px;
}

.tabs-nav li a:hover { border-color: #66676b; }
.tabs-nav li a:hover {
	border-color: #f91942;
	color: #66676b;
	z-index: 11;
}

.tab-content {
	padding: 28px 33px;
	position: relative;
	z-index: 10;
	display: inline-block;
	width: 100%;
}

.tabs-container {
	overflow: hidden;
	width: 100%;
}

/* Tabs Style 1 */



/* Tabs Style 5 */

/* ---------------------------------- */
/* Login Register
------------------------------------- */

.sign-in-form .tabs-container { overflow: visible; }

.sign-in-form .tabs-nav li {
    line-height: 15px;
}

.sign-in-form .tabs-nav li a {
    padding: 0 15px 18px 15px;
    color: #666;
}

.sign-in-form .tabs-nav li a:hover {
    color: #f91942;
}

.lost_password a { margin: 0; color: #666; font-size: 15px; }
.lost_password:hover a { color: #66676b; }

.sign-in-form label {
	position: relative;
	color: #666;
	font-size: 15px;
}

.sign-in-form label input {
	margin-top: 8px;
	padding-left: 45px;
	height: 53px;
}

.sign-in-form input {
	transition: box-shadow 0.2s !important;
}

.sign-in-form input:focus {
	transition: box-shadow 0.2s !important;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.07);
}

.sign-in-form label i {
	font-size: 21px;
	color: #a0a0a0;
	
	left: 15px;
	bottom: 13px;
}
.style-1 .tabs-container .tab-content {
    border: none;
    border-top: 1px solid #e0e0e0;
    padding: 30px 0 0 0;
}
.tab-content {
    padding: 28px 33px;
    position: relative;
    z-index: 10;
    display: inline-block;
    width: 100%;
}
/* ---------------------------------- */


.sign-in-form .tabs-container { overflow: visible; }

.sign-in-form .tabs-nav li {
    line-height: 15px;
}

.sign-in-form .tabs-nav li a {
    padding: 0 15px 18px 15px;
    color: #666;
}

.sign-in-form .tabs-nav li a:hover,
.sign-in-form .tabs-nav li.active a {
    color: #f91942;
}

.lost_password a { margin: 0; color: #666; font-size: 15px; }
.lost_password:hover a { color: #66676b; }




.sign-in-form label {
	position: relative;
	color: #666;
	font-size: 15px;
}

.sign-in-form label input {
	margin-top: 8px;
	padding-left: 45px;
	height: 53px;
}

.sign-in-form label input[type="checkbox"] {
	height: auto;
}

.sign-in-form input {
	transition: box-shadow 0.2s !important;
}

.sign-in-form input:focus {
	transition: box-shadow 0.2s !important;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.07);
}

.sign-in-form label i {
	font-size: 21px;
	color: #BDBDBD;
	position: absolute;
	left: 15px;
	bottom: 13px;
}

.sign-in-form .button {
	line-height: 26px;
	height: auto;
	min-width: 120px;
	margin-bottom: 0;
}

label, legend {
    display: block;
    font-weight: bold;
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 8px;
}
input, input[type="text"], input[type="password"], input[type="email"], input[type="number"], textarea, select {
    height: 51px;
    line-height: 51px;
   
        
    outline: none;
    font-size: 15px;
    color: #808080;
    margin: 0 0 16px 0;
        margin-top: 0px;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    display: block;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.06);
    font-weight: 500;
    opacity: 1;
    border-radius: 3px;
}
/* ---------------------------------- */
/* Social Icons
------------------------------------- */
.social-icons { padding-left: 5px; }

.social-icons li {
	display: inline;
	float: left;
	text-align: left;
	margin-right: 16px;
	margin-top: 11px;
	transform:scale(1.19);
	-webkit-transform:scale(1.19);
	-webkit-filter: blur(radius);
}

.social-icons li a {
	width: 22px;
	height: 44px;
	display: inline-block;
	color: #707070;
	
	
	position: relative;
	overflow: hidden;

}

/* Common Styles */



/* Social Icons styles for footer
------------------------------------- */

.facebook i::before{
		
		font-size: 14px;
		color: #a0a0a0;
		font-family: fontawesome;
}




.twitter i::before{
		content: '\f099';
		font-size: 14px;
		color: #a0a0a0;
		font-family: fontawesome;
}
.vimeo i::before{
		content: '\f27d';
		font-size: 14px;
		color: #a0a0a0;
		font-family: fontawesome;
}

.gplus i::before{
		content: '\f0d5';
		color: #a0a0a0;
		font-size: 14px;
		font-family: fontawesome;
}



/* ---------------------------------- */
/* Listing Item
------------------------------------- */

.listing-item-container {
/*	background: linear-gradient(to top, #f4f4f4 0%, #f9f9f9 10%); */
	background-color: #f6f6f6;
	display: block;
	height: 100%;
	width: 100%;
	border-radius: 4px;
	transform: translate3d(0,0,0);
	transition: transform 0.3s;
	margin-bottom: 30px;
}



.listing-item-container:hover { transform: translate3d(0,-6px,0); }

.listing-item {
	background: #ccc;
	border-radius: 4px 4px 0 0;
	height: 100%;
	display: block;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50%;
	height: 265px;
	z-index: 100;
	cursor: pointer;
}

.listing-item img {
	object-fit: cover;
	height: 100%;
	width: 100%;
	border-radius: 4px 4px 0 0;
}


.listing-item:before {
	content: "";
	top: 0;
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 9;
	background: linear-gradient(to top, rgba(35,35,37,0.9) 0%, rgba(35,35,37,0.45) 35%, rgba(22,22,23,0) 60%, rgba(0,0,0,0) 100%);
	background-color: rgba(35,35,37,0.2);
	border-radius: 4px 4px 0 0;
	opacity: 1;
}

.listing-item-content {
	position: absolute;
	bottom: 28px;
	left: 0;
	padding: 0 32px;
	padding-right: 90px;
	width: 100%;
	z-index: 50;
	box-sizing: border-box;
}

.listing-item-content h3 {
	color: #fff;
	font-size: 20px;
	bottom: -1px;
	position: relative;
	font-weight: 500;
	margin: 0;
	line-height: 31px;
}

.listing-item-content span {
	font-size: 16px;
	font-weight: 300;
	display: inline-block;
	color: rgba(255,255,255,0.7);
}


/* Listing item details */


/* Listing Item Alternative Version*/
.listing-item-container.compact .listing-item { border-radius: 4px; }

/* Number rating*/
.numerical-rating {
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 8px;
	text-align: center;
	line-height: 30px;
	height: 30px;
	width: 90px;
	display: inline-block;
	font-family: "Open Sans";
	position: relative;
	border-radius: 50px;
	letter-spacing: -0.5px;
	background-color: rgba(255,255,255,0.2);
	margin: 15px 32px;
}

.compact .numerical-rating { margin: 0 0 8px 0; }

.numerical-rating:before {	content: attr(data-rating); }

.numerical-rating.high { background-color: #64bc36; }


/* Star Rating */


/* Like Icon */

/* Badges */
.listing-item { overflow: hidden; }

.listing-badge {
	background-color: #333;
	float: left;
	position: absolute;
	transform: rotate(45deg);
	right: -64px;
	top: 22px;
	text-align: center;
	width: 200px;
	font-size: 12.5px;
	margin: 0;
	z-index: 999;
	color: #fff;
	font-weight: 500;
	line-height: 28px;
}


.listing-badge.now-open {
	background-color: #0d5db8;
}



#navigation.style-1 { margin-top: 1px; }

#navigation.style-1 .current:after { opacity: 1; }

#navigation.style-1 ul li {
	transition: all 0.25s;
}

#navigation.style-1 ul li a { color: #444; cursor: pointer; }
body .user-menu ul li a:hover,
#navigation.style-1 ul li:hover a { color: #66676b; }

#navigation.style-1 ul a {
	line-height: 32px;
	padding: 5px 15px;
}

#navigation.style-1 ul li { margin: 0 5px; }

#navigation.style-1 ul ul li { margin: 0; border-radius: 0; }

#navigation.style-1 ul ul li:first-child { border-radius: 4px 4px 0 0; }
#navigation.style-1 ul ul li:last-child { border-radius: 0 0 4px 4px; }

/* Indicator Arrow */
#navigation ul ul li a:after {
	opacity: 0.5;
	transition: all 0.25s;
	transform: translateX(-5px);
}

#navigation ul ul li:hover a:after {
	opacity: 1;
	transform: translateX(0);
}

/* Menu Hovers */
#navigation.style-1 ul li a {
	transition: 0.4s;
	border-radius: 50px;
	font-size: 15px;
}

#navigation.style-1 > ul > li > a.current,
#navigation.style-1 > ul > li:hover > a { 
	background: rgba(234, 15, 15, 0.1);
	color: red;
}

#navigation.style-1 ul li li a { background: #fff !important }
#navigation.style-1 ul a {padding: 2px 15px;}
#navigation ul ul { margin: 10px 0 0 0; }
#navigation.style-1 ul li { margin: 0 3px; }
#navigation.style-1 { margin-top: 4px; }

body #navigation ul .mega-menu:not(.mm-panel) ul a,
body #navigation.style-1 ul ul li { opacity: 1; }

body #navigation.style-1 ul ul li a:after,
body #navigation.style-1 ul li:hover ul li a,
body #navigation.style-1 ul li:hover ul li:hover li a,
body #navigation.style-1 ul li:hover ul li:hover li:hover li a,
body #navigation.style-1 ul ul li:hover ul li a { color: #666; }

body #navigation.style-1 ul ul li:hover a:after,
body #navigation.style-1 ul li:hover ul li:hover a,
body #navigation.style-1 ul li:hover ul li:hover li:hover a,
body #navigation.style-1 ul li:hover ul li:hover li:hover li:hover a,
body #navigation.style-1 ul ul li:hover ul li a:hover { color: red; }

/* Dots */




.fw-carousel-item {
	position: relative;
	height: 100%;
}




	/* Common Styles
	------------------------------------- */

	body {
		color: #707070;
		font-size: 15px;
		line-height: 27px;
		background-color: #fff;
	}

	body p { font-size: 16px; line-height: 29px; }

	#wrapper { background-color: #fff; }

	/* Main Font */
	body, h2, h3, h4, input[type="text"], input[type="password"], input[type="submit"], button
	{ font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; text-transform: none; }


	/* Headlines */
	h2, h3, h4 {
	  color: #222;
	}

	/* Margin Top */
	.margin-top-0 { margin-top: 0 !important; }
	
	.margin-top-10 { margin-top: 10px !important; }
	.margin-top-20 { margin-top: 20px !important; }

/* Smaller than laptops */
@media (max-width: 1366px) {
	.main-search-container { height: 600px; }
}


/* Small devices and browsers */
@media only screen and (max-width: 1365px) {

	/* Dashboard Logo */

}


/* Smaller than standard 1180 (devices and browsers) */
@media (max-width: 1239px) {

	#navigation.style-1 {
		margin: 25px 0 5px -5px;
		width: 100%;
		padding-top: 15px;
		padding-bottom: 0;
		position: relative;
	}

	#navigation.style-1:before {
		position: absolute;
		width: 100%;
		height: 1px;
		display: block;
		top:0;
		left: 5px;
		content: "";
		background: #e8e8e8;
		width: 940px;
	}
}



/* ------------------------------------------------------------------- */
/* Styles Switcher
---------------------------------------------------------------------- */

	#style-switcher {
		background: #333;
		width:205px;
		position:fixed;
		top:145px;
		z-index:999;
		left: -205px;
		border-radius: 0 0 4px 0;
	}


.main-search-input input,
.main-search-input input:focus {
	font-size: 20px;
	border: none;
	background: #fff;
	margin: 0;
	
	height: 44px;
	line-height: 44px;
    box-shadow: none;
}
.my_nav > li {
    float: none;
}
.my_nav {
    float: none;
    
}
	@media only screen and (max-width: 1024px) {#style-switcher {display: none;}}

	#style-switcher { display: none; }
@media (max-width: 1239px) {

	#navigation.style-1 {
		margin: 25px 0 5px -5px;
		width: 100%;
		padding-top: 15px;
		padding-bottom: 0;
		position: relative;
	}

	#navigation.style-1:before {
		position: absolute;
		width: 100%;
		height: 1px;
		display: block;
		top:0;
		left: 5px;
		content: "";
		background: #e8e8e8;
		width: 940px;
	}

	.fullwidth #navigation.style-1:before { background: linear-gradient(to right, #e8e8e8 50%, #fff); }

	.listing-item-container.list-layout .listing-item-image {flex: 3;}

	.listing-slider, .listing-slider .item {
	    height: 30vh;
	    min-height: 400px;
	    max-height: 400px;
	}

	#header.cloned { display: none; }
}


/* Reset for menu */
@media (max-width: 1024px) {
	#navigation.style-1 { margin: 0; padding-top: 0; }
	#navigation.style-1:before { display: none; }
	.header-widget { height: auto; }

	.mmenu-trigger { float: right; }
	body #dashboard #logo,
	body #logo {
	    position: relative;
	    margin: 0 !important;
	    margin-top: 5px !important;
	    width: calc(100% - 70px);
	    text-align: left;
	}

}



.sl {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'simple-line-icons' !important;
    
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.sl-icon-login:before {
    content: "\e066";
}
.sl-icon-settings:before {
    content: "\e09a";
}
.sl-icon-arrow-right:before {
    content: "\e606";
}


.mm-listview > li {
    border-bottom: 1px solid #404040;
}
.mm-menu em.mm-counter {
    background-color: red;
    height: 20px;
    width: 20px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    line-height: 19px;
    font-size: 11px;
    font-weight: 500;
    font-family: "Open Sans";
}

.mm-hidden { display: none!important }

.mm-wrapper {
    overflow-x: hidden;
    position: relative
}

.mm-menu {
    box-sizing: border-box;
    background: inherit;
    display: block;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0
}

.mm-panels,
.mm-panels>.mm-panel {
    background: inherit;
    border-color: inherit;
    box-sizing: border-box;
    margin: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0
}

.mm-panels {
    overflow: hidden
}

.mm-panel {
    -webkit-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    transform: translate(100%, 0);
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    -webkit-transition: -webkit-transform .4s ease;
    transition: -webkit-transform .4s ease;
    transition: transform .4s ease;
    transition: transform .4s ease, -webkit-transform .4s ease;
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left
}

.mm-panel.mm-opened {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.mm-panel.mm-subopened {
    -webkit-transform: translate(-30%, 0);
    -ms-transform: translate(-30%, 0);
    transform: translate(-30%, 0);
    -webkit-transform: translate3d(-30%, 0, 0);
    transform: translate3d(-30%, 0, 0)
}

.mm-panel.mm-highest {
    z-index: 1
}



.mm-panels>.mm-panel {
    -webkit-overflow-scrolling: touch;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 20px
}

.mm-panels>.mm-panel.mm-hasnavbar {
    padding-top: 40px
}

.mm-panels>.mm-panel:not(.mm-hidden) {
    display: block
}

.mm-panels>.mm-panel:after,
.mm-panels>.mm-panel:before {
    content: '';
    display: block;
    height: 20px
}

.mm-btn {
    box-sizing: border-box;
    width: 40px;
    height: 50px;
    position: absolute;
    top: 0;
    z-index: 1
}



.mm-next:after,
.mm-prev:before {
    content: '';
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    display: block;
    width: 8px;
    height: 8px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0
}

.mm-prev:before {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    left: 23px;
    right: auto
}

.mm-next:after {
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    right: 23px;
    left: auto
}

.mm-navbar {
    border-bottom: 1px solid;
    border-color: inherit;
    text-align: center;
    line-height: 30px;
    height: 50px;
    padding: 0 40px;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0
}

.mm-navbar>* {
    display: block;
    padding: 10px 0
}

.mm-navbar a,
.mm-navbar a:hover {
    text-decoration: none
}

.mm-navbar .mm-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}

.mm-navbar .mm-btn:first-child {
    left: 0
}

.mm-navbar .mm-btn:last-child {
    text-align: right;
    right: 0
}

.mm-panel .mm-navbar {
    display: none
}

.mm-panel.mm-hasnavbar .mm-navbar {
    display: block;
    background-color: #262626;
}

.mm-listview,
.mm-listview>li {
    list-style: none;
    display: block;
    padding: 0;
    margin: 0
}

.mm-listview {
    font: inherit;
    font-size: 14px;
    line-height: 20px
}

.mm-listview a,
.mm-listview a:hover {
    text-decoration: none
}

.mm-listview>li {
    position: relative
}

.mm-listview>li,
.mm-listview>li .mm-next,
.mm-listview>li .mm-next:before,
.mm-listview>li:after {
    border-color: inherit
}

.mm-listview>li {
    border-bottom: 1px solid #404040;
}

.mm-listview>li>a,
.mm-listview>li>span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: inherit;
    display: block;
    padding: 14px 10px 14px 20px;
    margin: 0;
}

.mm-listview>li:not(.mm-divider):after {
    content: '';
    border-bottom-width: 1px;
    border-bottom-style: solid;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}

.mm-listview>li:not(.mm-divider):after {
    left: 20px
}

.mm-listview .mm-next {
    background: rgba(3, 2, 1, 0);
    width: 50px;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2
}

.mm-listview .mm-next:before {
    content: '';
    border-left-width: 1px;
    border-left-style: solid;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0
}

.mm-listview .mm-next+a,
.mm-listview .mm-next+span {
    margin-right: 50px
}

.mm-listview .mm-next.mm-fullsubopen {
    width: 100%
}

.mm-listview .mm-next.mm-fullsubopen:before {
    border-left: none
}

.mm-listview .mm-next.mm-fullsubopen+a,
.mm-listview .mm-next.mm-fullsubopen+span {
    padding-right: 50px;
    margin-right: 0
}

.mm-panels>.mm-panel>.mm-listview {
    margin: 20px -20px
}

.mm-panels>.mm-panel>.mm-listview:first-child,
.mm-panels>.mm-panel>.mm-navbar+.mm-listview {
    margin-top: -10px;
}

.mm-menu {
    background: #2a2a2a;
    border-color: rgba(255,255,255,0.1);
    color: #fff;
}

.mm-menu .mm-navbar a,
.mm-menu .mm-navbar>* {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
}

.mm-menu .mm-btn:after,
.mm-menu .mm-btn:before {
    border-color: rgba(255,255,255,0.8);
}

.mm-menu .mm-listview {
    border-color: #2a2a2a
}

.mm-menu .mm-listview>li .mm-next:after {
    border-color: rgba(255,255,255,0.8);
}

.mm-menu .mm-listview>li a:not(.mm-next) {
    -webkit-tap-highlight-color: rgba(255, 255, 255, .5);
  
}



.mm-menu .mm-listview>li { transition: 0.2s; }
.mm-menu .mm-listview>li:hover {
    background: rgba(255, 255, 255, .03)
}



.mm-page {
    box-sizing: border-box;
    position: relative
}

.mm-slideout {
    -webkit-transition: -webkit-transform .4s ease;
    transition: -webkit-transform .4s ease;
    transition: transform .4s ease;
    transition: transform .4s ease, -webkit-transform .4s ease;
    z-index: 1
}

html.mm-opened {
    overflow-x: hidden;
    position: relative
}

html.mm-blocking {
    overflow: hidden
}

html.mm-blocking body {
    overflow: hidden
}

html.mm-background .mm-page {
    background: inherit
}

#mm-blocker {
    background: rgba(3, 2, 1, 0);
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2
}

html.mm-blocking #mm-blocker {
    display: block
}

.mm-menu.mm-offcanvas {
    z-index: 0;
    display: none;
    position: fixed
}

.mm-menu.mm-offcanvas.mm-opened {
    display: block
}

.mm-menu.mm-offcanvas.mm-no-csstransforms.mm-opened {
    z-index: 10
}

.mm-menu.mm-offcanvas {
    width: 80%;
    min-width: 140px;
    max-width: 440px
}

html.mm-opening .mm-menu.mm-opened~.mm-slideout {
    -webkit-transform: translate(80%, 0);
    -ms-transform: translate(80%, 0);
    transform: translate(80%, 0);
    -webkit-transform: translate3d(80%, 0, 0);
    transform: translate3d(80%, 0, 0)
}

@media all and (max-width:175px) {
    html.mm-opening .mm-menu.mm-opened~.mm-slideout {
        -webkit-transform: translate(140px, 0);
        -ms-transform: translate(140px, 0);
        transform: translate(140px, 0);
        -webkit-transform: translate3d(140px, 0, 0);
        transform: translate3d(140px, 0, 0)
    }
}

@media all and (min-width:550px) {
   
}

.my_nav > li > a:hover,
.my_nav > li > a:focus {
  text-decoration: none;
  background-color: #53505026;
}
.mm-sronly {
    border: 0!important;
    clip: rect(1px, 1px, 1px, 1px)!important;
    -webkit-clip-path: inset(50%)!important;
    
    white-space: nowrap!important;
    width: 1px!important;
    height: 1px!important;
    padding: 0!important;
    overflow: hidden!important;
    position: absolute!important
}

em.mm-counter {
    font: inherit;
    font-size: 14px;
    font-style: normal;
    text-indent: 0;
    line-height: 20px;
    display: block;
    margin-top: -10px;
    position: absolute;
    right: 45px;
    top: 50%
}

em.mm-counter+a.mm-next {
    width: 90px
}

em.mm-counter+a.mm-next+a,
em.mm-counter+a.mm-next+span {
    margin-right: 90px
}

em.mm-counter+a.mm-fullsubopen {
    padding-left: 0
}

em.mm-counter+a.mm-fullsubopen+a,
em.mm-counter+a.mm-fullsubopen+span {
    padding-right: 90px
}

.mm-listview em.mm-counter+.mm-next.mm-fullsubopen+a,
.mm-listview em.mm-counter+.mm-next.mm-fullsubopen+span {
    padding-right: 90px;
}



.mm-menu em.mm-counter {
    background-color: #f91942;
    height: 20px;
    width: 20px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
	line-height: 19px;
    font-size: 11px;
    font-weight: 500;
    font-family: "Open Sans";
}

/* Trigger Styles */
.mmenu-trigger {
    height: 50px;
    width: 50px;
    display: none;
    position: relative;
    margin: 0 0 20px 0;
    background-color: #eee;
    border-radius: 4px;
    cursor: pointer;
    left: 50px;
}



#navigation {
	position: relative;
	display: block;
}

#navigation ul {
	list-style: none;
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
}

#navigation ul a {
	display: block;
	text-decoration: none;
}

#navigation ul li {
	position: relative;
	float: left;
	margin: 0;
	padding: 0
}

#navigation ul li ul {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 100%;
	left: 0;
	padding: 0;
	z-index: 99999;
}

#navigation ul ul li { float: none; }

#navigation ul ul ul {
	top: 0;
	left: 100%;
	margin: 0;
}

#navigation ul ul {
	margin: 10px 0 0 15px;
}

#navigation ul ul:before {
	content: "";
	position: absolute;
	left: 0;
	top: -10px;
	background: rgba(255,255,255,0);
	width: 100%;
	height: 10px;
}


/* Indicator Arrow */
#navigation ul li a:after,
#navigation ul ul li a:after {
	font-family: "FontAwesome";
	opacity: 0.5;
}

#navigation ul li a:after { content: '\f107'; padding-left: 7px; }
#navigation ul ul li a:after {
	content: '\f105';
	position: absolute;
	right: 15px;
	top: 7px;
}

#navigation ul li a:only-child:after { content: ''; padding: 0; }
#navigation ul ul li a:only-child:after { content: '';}


/* Dropdown Styles
------------------------------------- */
#navigation ul ul {
	background-color: #fff;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.12);
	border-radius: 4px;
	font-size: 15px;
}

#navigation ul ul li { border-radius: 4px; }
#navigation ul ul li:last-child { border-bottom: none; }

#navigation ul li:hover ul a,
#navigation ul ul a {
	line-height: 27px !important;
	padding: 4px 40px 4px 15px !important;
	line-height: 24px !important;
}

body #navigation ul ul {
	padding: 12px 10px;
	box-sizing: border-box;
}

#navigation ul ul li { width: 180px; }

#navigation ul ul li:hover {
	border-radius: 0;
}

#navigation ul ul li:first-child { border-radius: 4px 4px 0 0; }
#navigation ul ul li:last-child { border-radius: 0 0 4px 4px; }

#navigation ul ul {
	opacity: 0;
	visibility: hidden;
	transition: all 0.25s;
	transform: translate3d(0,15px,0);
}



#navigation {
	position: relative;
	display: block;
}

#navigation ul {
	list-style: none;
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
}

#navigation ul a {
	display: block;
	text-decoration: none;
}

#navigation ul li {
	position: relative;
	float: left;
	margin: 0;
	padding: 0
}

#navigation ul li ul {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 100%;
	left: 0;
	padding: 0;
	z-index: 99999;
}

#navigation ul ul li { float: none; }

#navigation ul ul ul {
	top: 0;
	left: 100%;
	margin: 0;
}

#navigation ul ul {
	margin: 10px 0 0 15px;
}

#navigation ul ul:before {
	content: "";
	position: absolute;
	left: 0;
	top: -10px;
	background: rgba(255,255,255,0);
	width: 100%;
	height: 10px;
}

#navigation ul ul ul:after {
	content: "";
	position: absolute;
	width: 10px;
	height: 100%;
	left: -10px;
	top: 0;
	opacity: 0;
}

#navigation ul li:hover > ul {
	opacity: 1;
	visibility: visible;
}

/* Indicator Arrow */
#navigation ul li a:after,
#navigation ul ul li a:after {
	font-family: "FontAwesome";
	opacity: 0.5;
}

#navigation ul li a:after { content: '\f107'; padding-left: 7px; }
#navigation ul ul li a:after {
	content: '\f105';
	position: absolute;
	right: 15px;
	top: 7px;
}

#navigation ul li a:only-child:after { content: ''; padding: 0; }
#navigation ul ul li a:only-child:after { content: '';}


/* Dropdown Styles
------------------------------------- */
#navigation ul ul {
	background-color: #fff;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.12);
	border-radius: 4px;
	font-size: 15px;
}

#navigation ul ul li { border-radius: 4px; }
#navigation ul ul li:last-child { border-bottom: none; }

#navigation ul li:hover ul a,
#navigation ul ul a {
	line-height: 27px !important;
	padding: 4px 40px 4px 15px !important;
	line-height: 24px !important;
}

body #navigation ul ul {
	padding: 12px 10px;
	box-sizing: border-box;
}

#navigation ul ul li { width: 180px; }

#navigation ul ul li:hover {
	border-radius: 0;
}

#navigation ul ul li:first-child { border-radius: 4px 4px 0 0; }
#navigation ul ul li:last-child { border-radius: 0 0 4px 4px; }

#navigation ul ul {
	opacity: 0;
	visibility: hidden;
	transition: all 0.25s;
	transform: translate3d(0,15px,0);
}

#navigation ul li:hover > ul {
	opacity: 1;
	visibility: visible;
	transform: translate3d(0,0,0);
}

/* Menu
------------------------------------- */


@media only screen and (max-width: 1024px) {

	/* Header Responsive Styles */
	#responsive { display: none; }
	.mmenu-trigger { display: inline-block !important; }

	#logo {
	    position: absolute;
	    width: 100%;
	    margin: 0 auto;
	    margin-top: 5px;
	    width: 35%;
	    text-align: center;
	    left: 0;
	    right: 0;
	}

	.header-widget {
		padding: 20px 0;
		border-top: 1px solid #eee;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
	}

	.header-widget a.button.border {
		padding: 7px 16px;
		background-color: transparent;
		font-size: 16px;
		min-width: auto;
		float: right;
	}

	.sign-in,
	.user-menu { flex: 1; }

	.header-widget .sign-in { top: 9px; }

	#header-container.header-style-2 .left-side,
	#header-container.header-style-2 .right-side,
	.right-side,
	.left-side { width: 100%; }

	#top-bar .right-side .social-icons { float: left; position: relative; z-index: 9; }

	#header-container.header-style-2 .header-widget { float: left; margin-top: 35px; margin-bottom: -5px }

	.header-widget { text-align: left; }
	#header { padding-bottom: 0; }

	ul.top-bar-menu { z-index: 99; position: relative; }

	.header-style-2 .menu-responsive { width: 750px; margin-left: auto; margin-right: auto; float: none; padding: 0 15px; }

	#header-container.header-style-2 .header-widget { width: calc(100%);  border-top: 1px solid #e0e0e0; padding-top: 30px; }

}

#header.cloned {
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 999;
}

#header.cloned { background-color: #fff; }

/* Sticky header styles */
#header.cloned #logo img { transform: translate3d(0,0,0); max-width: 120px; margin-top: 1px; }
#header.cloned { padding: 18px 0 7px 0; }

.sticky-logo { display: none; }

#header.cloned.unsticky {
	opacity: 1;
	visibility: hidden;
   
	transform: translate(0,-100%) scale(1);
	transition: 0.3s;
}

#header.cloned.sticky {
	opacity: 1;
	visibility: visible;
	transform: translate(0,0) scale(1);
	transition: 0.3s;
}


/*----------------------------------- */
/* Footer
------------------------------------- */
#footer {
	padding: 70px 0 0 0;
	background-color: #fff;
	border-top: 1px solid rgba(0,0,0,0.09);
	font-size: 16px;
}

#footer.sticky-footer { box-shadow: none; }
#footer.dark { border-top: none; }

#footer h4 {
	color: #333;
	font-size: 21px;
	margin-bottom: 25px;
}



.text-widget span { color: #707070; }

.text-widget span.address { display: block; margin-bottom: 10px;}

#footer a {
	color: #f91942;
}
a {
    color: #333;
    text-decoration: none;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}
/*  Links  */
#footer ul.footer-links {
	margin: 0 0 15px 0;
	padding: 0;
	width: 50%;
	box-sizing: border-box;
	display: inline-block;
	float: left;
}

#footer .footer-links li { position: relative; list-style: none; }

#footer .footer-links li a {
	padding: 0 0 9px 16px;
	display: inline-block;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	color: #707070;
	line-height: 21px;
}

#footer .footer-links li a:hover {
	padding-left:22px;
	color: #f91942;
}

#footer .footer-links li:before {
	font-family: "FontAwesome";
	font-size: 20px;
	content: "\f105";
	position: absolute;
	left: 0;
	top: -2px;
	padding: 0 7px 0 0;
	color: #ccc;
}

/* Slick Carousel
------------------------------------- */

/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
   
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}

.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}


.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}

.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    z-index: 100;
    display: block;
    width: auto;
    height: auto;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}



.slick-prev:before,
.slick-next:before {
    font-family: 'simple-line-icons';
    font-size: 32px;
    line-height: 1;
    opacity: 1;
    color: #aaa;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all 0.3s;
}

.white-nav .slick-prev:before,
.white-nav .slick-next:before {
    color: #fff;
}

.slick-prev { left: 3px; transform: translate3d(-90px,-50%,0); }
.slick-next { right: 3px; transform: translate3d(90px,-50%,0); }

.slick-prev:before { content: '\e605'; }
.slick-next:before { content: '\e606'; }


#breadcrumbs {
    position: absolute;
    right: 15px;
    display: inline-block;
    font-size: 15px;
    font-weight: 400;
    color: #888;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
#breadcrumbs ul li {
    display: inline-block;
    list-style: none;
    margin: 0 0 0 10px;
}
#breadcrumbs ul li::before {
    content: "\f105";
    font-family: "FontAwesome";
    color: #a0a0a0;
    font-size: 14px;
    margin-right: 15px;
}
#breadcrumbs ul li:first-child:before { display: none; }
.pagination {
    margin: 9px 0 0 0;
    text-align: center;
    overflow: hidden;
}
.pagination_wrap ul {
    list-style-type: none;
    text-align: center;
}
.pagination_wrap li {
    display: inline;
}
.pagination ul li a.current-page, .pagination .current, .pagination ul li a:hover, .pagination-next-prev ul li a:hover {
    background-color: #f2f2f2;
    color: #333;
}
.pagination_wrap ul li a {
    border-radius: 50%;
    display: inline-block;
    width: 52px;
    height: 52px;
    padding: 0;
    line-height: 52px;
}
.pagination_wrap ul li a.current-page, .pagination_wrap .current, .pagination_wrap ul li a:hover, .pagination-next-prev ul li a:hover {
    background-color: #f2f2f2;
    color: #333;
}
.gray-style.main-search-input {
    box-shadow: none;
    background-color: #f7f7f7;
    top: -10px;
    position: relative;
}
.main-search-input-item.location a, .gray-style.main-search-input input, .gray-style.main-search-input input:focus {
    background: #f7f7f7;
        border: none;
    box-shadow: none;
}

.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
   
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}


.slick-initialized .slick-slide
{
    display: block;
    
    
}
.slick-loading .slick-slide
{
    visibility: hidden;
}

.slick-slide { outline: none; }


/*cacacacacacac*/

#titlebar.gradient {
    background: linear-gradient(to bottom, #f7f7f7 0%, rgba(255,255,255,0.5));
    padding-bottom: 10px;
}
#titlebar {
   
    position: relative;
    padding: 70px 0;
        padding-bottom: 70px;
    margin-bottom: 65px;
}
#titlebar.listing-titlebar h1, #titlebar.listing-titlebar h2 {

    font-size: 28px;
    line-height: 36px;
    margin: 1px 0;

}

/* Fullwidth Property Slider */
.listing-slider-small .item,
.listing-slider .item {
	position: relative;
	background-size: cover;
	background-position: 50%;
	height: 40vh;
	min-height: 400px;
}

.listing-slider,
.listing-slider .item {
	height: 40vh;
	min-height: 400px;
}


.listing-slider { background-color: #fff; }

.listing-slider .slick-next:hover,
.listing-slider .slick-prev:hover,
.listing-slider .slick-next,
.listing-slider .slick-prev {
    background-color: #f91942;
    color: #fff;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    text-align: center;
    transition: 0.4s;
}



.listing-slider-small .slick-next:hover,
.listing-slider-small .slick-next,
.listing-slider .slick-next:hover,
.listing-slider .slick-next {
	right: 15%;
    transform: translate(50px, -50%);
}

.listing-slider-small .slick-prev:hover,
.listing-slider-small .slick-prev,
.listing-slider .slick-prev:hover,
.listing-slider .slick-prev {
	left: 15%;
    transform: translate(-50px, -50%);
}


.listing-slider .slick-next:hover:before,
.listing-slider .slick-prev:hover:before,
.listing-slider .slick-prev::before,
.listing-slider .slick-next::before {
    font-size: 20px;
    line-height: 60px;
    position: relative;
    color: #fff;
}


.listing-slider-small .slick-prev::before,
.listing-slider .slick-prev::before { left: -1px; }

.listing-slider-small .slick-next::before,
.listing-slider .slick-next::before { left: 1px; }


/* Hover */
.listing-slider .slick-next:hover{ transform: translate(64px, -50%); }
.listing-slider .slick-prev:hover { transform: translate(-64px, -50%); }

.listing-slider .item.slick-slide:before {
	position: absolute;
	height: 100%;
	width: 100%;
	display: block;
	content: "";
	background: #222;
	z-index: 100;
	visibility: visible;
	opacity: 0.1;
	transition: 0.3s ease-in-out;
}

.listing-slider .item.slick-slide:hover:before,
.listing-slider-small .slick-next,
.listing-slider-small .slick-prev,
.listing-slider .slick-next,
.listing-slider .slick-prev {
	opacity: 0;
	visibility: hidden;
}

.listing-slider-small:hover .slick-next,
.listing-slider-small:hover .slick-prev,
.listing-slider:hover .slick-next,
.listing-slider:hover .slick-prev {
	opacity: 1;
	visibility: visible;
}

.listing-slider-small .slick-next:hover,
.listing-slider-small .slick-prev:hover,
.listing-slider .slick-next:hover,
.listing-slider .slick-prev:hover {
    background-color: #66676b;
    color: #fff;
}





/* Popup */
#sign-in-dialog,
#small-dialog {
	background: #fff;
	padding: 40px;
	padding-top: 0;
	text-align: left;
	max-width: 610px;
	margin: 40px auto;
	position: relative;
	box-sizing:border-box;
	border-radius: 4px;
}


#sign-in-dialog {
	max-width: 500px;
}



/* All Mobile Sizes (devices and browser) */
@media (max-width: 767px) {




	#sign-in-dialog, #small-dialog {
		background: #fff;
		padding: 30px;
		padding-top: 0;
    }





	.header-widget {
	    height: auto;
	}





	#titlebar { padding: 50px 0; margin-bottom: 50px; }



	/* Pricing Tables */
	.pricing-container { display: block; }

	#breadcrumbs {
	    position: relative;
	    display: block;
	    margin-top: 30px;
	}

	#breadcrumbs ul li { margin: 0 10px 0 0; }



	#sign-in-dialog, #small-dialog {
	    max-width: 75vw;
	}


}
/* Tablet Portrait size to standard 960 (devices and browsers) */
@media (max-width: 991px) {

	.main-search-container { height: 580px; }





	.main-search-inner { transform: translate(0, -51%); }


	/* Dashboard Nav - END */


	.main-search-input {
	    border-radius: 0;
	    display: block;
	    padding: 0;
	    max-height: 100%;
	    background-color: transparent;
	    box-shadow: none;
	}

	.gray-style.main-search-input { background-color: transparent; }

	.gray-style .main-search-input-item,
	.main-search-input-item {
   		border-color: transparent;
	}

	.main-search-input button.button { margin-top: 10px; }
	.main-search-input-item { margin-bottom: 10px; }

	.main-search-input-item,
	.main-search-input .main-search-input-item:nth-last-child(2) {
	    padding: 0;
	}

	.main-search-input-item .chosen-container-single .chosen-single,
	.main-search-input-item .chosen-single.chosen-container-active,
	.gray-style .main-search-input-item .chosen-container-single .chosen-single,
	.gray-style .main-search-input-item .chosen-single.chosen-container-active,
	.gray-style.main-search-input input,
	.gray-style.main-search-input input:focus,
	.main-search-input input,
	.main-search-input input:focus {
		padding: 0 20px;
		height: 55px;
		line-height: 55px;
		border-radius: 4px;
		background: #fff;
		border: 1px solid #e0e0e0;
		box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.08);
	}

	.gray-style.main-search-input input,
	.gray-style.main-search-input input:focus,
	.main-search-input input,
	.main-search-input input:focus {
		padding: 0 20px;
	}

	#sign-in-dialog, #small-dialog {
		background: #fff;
		padding: 30px;
		padding-top: 0;
    }

	#sign-in-dialog .mfp-close, #small-dialog .mfp-close {
	    top: 24px;
	    right: 30px;
	    width: 40px;
	    height: 40px;
	}




	.header-widget {
	    height: auto;
	}

	



	#titlebar { padding: 50px 0; margin-bottom: 50px; }



	/* Pricing Tables */
	.pricing-container { display: block; }


	#breadcrumbs {
	    position: relative;
	    display: block;
	    margin-top: 30px;
	}

	#breadcrumbs ul li { margin: 0 10px 0 0; }


	


	
	#sign-in-dialog, #small-dialog {
	    max-width: 75vw;
	}



}

@media (max-width: 480px) {
	.tabs-nav.blog li,
	.tabs-nav.blog li a,
	.tabs-nav li,
	.tabs-nav li a {
		width: 100%;
		padding: 0;
		border-radius: 3px;
		text-align: center;
		border-bottom: none;
	}

	



}


.margin-bottom-0  { margin-bottom: 0 !important; }
	.margin-bottom-10 { margin-bottom: 10px !important; }
body, h1, h2, h3, h4, h5, h6, input[type="text"], input[type="password"], input[type="email"], textarea, select, input[type="button"], input[type="submit"], button, #tiptip_content, .map-box p, .map-box div, .numerical-rating .rating-counter, body .menu-responsive i.menu-trigger::after {
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: none;
}
.listing-slider-small .slick-prev:hover, .listing-slider-small .slick-prev, .listing-slider .slick-prev:hover, .listing-slider .slick-prev {
    left: 15%;
   
}
.small-dialog-header {
	font-size: 22px;
	width: calc(100% + 80px);
	position: relative;
	left: -40px;
	top: 0;
	border-radius: 4px 4px 0 0;
	display: inline-block;
	background-color: #f6f6f6;
	padding: 35px 40px;
	margin-bottom: 40px;
}
#sign-in-dialog,
#small-dialog {
	background: #fff;
	padding: 40px;
	padding-top: 0;
	text-align: left;
	max-width: 610px;
	margin: 40px auto;
	position: relative;
	box-sizing:border-box;
	border-radius: 4px;
}


#sign-in-dialog {
	max-width: 500px;
}
@media all and (min-width:550px) {
    html.mm-opening .mm-menu.mm-opened~.mm-slideout {
        -webkit-transform: translate(440px, 0);
        -ms-transform: translate(440px, 0);
        transform: translate(440px, 0);
        -webkit-transform: translate3d(440px, 0, 0);
        transform: translate3d(440px, 0, 0)
    }
}
.mfp-arrow:hover {
	background: #f91942;
}